* {
    margin: 0;
    padding: 0;
}

/* 병원/약국/응급실 메뉴 */
#quick-search-list {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: khaki;
}

#wrapper {
    height: 10vh;
    width: 100vw;
}

button {
    background-color: #fff;
    border: 0 solid #fff;
}

/* 지역 버튼 */
#btn-wrap {
    display: flex;
    justify-content: center;
}

#region-srch-btn {
    margin: 30px;
    width: 30vw;
    height: 8vh;
    border: 0.1em solid #8AAAE5;
    border-radius: 30px;
    box-shadow: 0.4em 0.4em 1em -0.5em gray;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    font-weight: bold;
}


#srch-bar {
    width: 100vw;
    height: 50vh;
    top: 0;
    position: fixed;
    display: none;
    background-color: #8AAAE5;
}