@import url(../../css/base.css);
body {
    background-color: rgb(138, 170, 229);
}
#findBox {
    background-color: white;
    position: absolute;
    width: 652px;
    height: 189px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
#findInnerBox {
    height: 90%;
    width: 80%;
    margin: 61px auto 0;
}