@import url(../../css/base.css);
body {
    background-color: rgb(138, 170, 229);
}
#loginBox {
    background-color: white;
    position: absolute;
    width: 380px;
    height: 582px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
#loginInnerBox {
    height: 90%;
    width: 80%;
    margin: 61px auto 0;
}
/* title */
#loginInnerBox .loginTitle{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#loginInnerBox .loginTitle.t1{
    font-weight: bold;
    font-size: 19px;
    opacity: 0.4;
    margin: 20px auto;
}
#loginInnerBox .loginTitle.t2{
    font-weight: bold;
    font-size: 24px;
}
#loginInnerBox .loginTitle.t3{
    font-size: 14px;
    opacity: 0.4;
}

/************************************* 입력 */
#loginInnerBox form{
    margin-top: 35px;
}
#loginInnerBox .loginInput {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
#loginInnerBox .loginInput label{
    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
}
#loginInnerBox .loginInput input, 
#loginInnerBox .loginInput label{
    margin: 0 auto;
    display: block;
    width: 80%;
}
#loginInnerBox .loginInput input{
    height: 30px;
}
input[type="email"], input[type="password"] {
    margin-bottom: 5px;
}
#loginInnerBox .loginInput input[type="submit"]{
    background-color: rgb(138, 170, 229);
    border-radius: 5px;
    color: white;
    border: none;
}
#checkbox-container {
    width: 100%;
}
#checkbox-container div{
    margin: 0 auto;
    width: 80%;
}

/***************************************** 링크 */
#link {
    margin-top: 20px;
    text-align: center;
}
#link a {
    font-size: 14px;
    font-weight: bold;
}
#link a:nth-child(2) {
    color: rgb(138, 170, 229);
}